# Hide of reserved directories
react
angular
node_modules
elb-api.390labs.com

snippet.md

# reserved programs for learning
reserve

.angular

# hide test files
.spec.ts

# External Auth Directory
/auth
