<div class="auth">

    <section class="auth__header">
        <h2 class="auth__header--text">Login</h2>
        <p class="auth__header--info-text">Enter your credentials to continue</p>
    </section>

    <section class="form-layout">

        <!-- Selectors are used to activate directives in templates or represent components as views in the browser -->
        <form class="auth__form" [formGroup]="loginForm" (submit)="onLoginUser()">
            <div class="input-display">

                <label class="form-input-label auth__form--label" for="email">Email</label>

                <input id="email" class="form-input auth__form--input" type="text" placeholder="Enter your email"
                    formControlName="email" />
            </div>
            <!-- email Validation -->
            <span *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')" class="form-error">Email is required</span>

            <div class="input-display">

                <label class="form-input-label auth__form--label" for="password">Password</label>

                <img [src]="eyeIcon" alt="eye-icon" class="eye-icon" (click)="hideShowPassword()" />

                <input id="password" class="form-input auth__form--input eye-icon-parent" type="text"
                    placeholder="Enter your password" formControlName="password" [type]="inputType" />
            </div>
            <!-- password Validation -->
            <span *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="form-error">Password is required</span>

            <a class="auth-link mt-2 mb-2 fs-14" routerLink="/auth/forgot-password">Forgot
                Password?</a>

            <input type="submit" class="action-button auth-button" value="Log In">
        </form>

        <div class="auth-text">Don't have an account?<a class="auth-link" routerLink="/auth/register">Sign Up</a>
        </div>
    </section>
</div>
