<div class="auth">

    <section class="auth__header">
        <h2 class="auth__header--text">Sign Up</h2>
        <p class="auth__header--info-text">Enter your credentials to create your account</p>
    </section>

    <section class="form-layout">

        <form class="auth__form">
            <div class="input-display">
                <!-- Fullname -->
                <label class="form-input-label auth__form--label" for="fullname">Fullname</label>
                <input id="fullname" class="form-input auth__form--input" type="text" formControlName="fullName"
                    placeholder="Enter your fullname" />
            </div>

            <div class="input-display">
                <!-- Email -->
                <label class="form-input-label auth__form--label" for="email">Email</label>
                <input id="email" class="form-input auth__form--input" type="text" formControlName="email"
                    placeholder="Enter your email" />
            </div>

            <div class="input-display">
                <!-- Password -->
                <label class="form-input-label auth__form--label" for="password">Password</label>
                <input id="password" class="form-input auth__form--input" type="text" formControlName="password"
                    placeholder="Enter your password" />
            </div>

            <div class="form-group">
                <div class="form-checkbox">
                </div>
                <p class="form-group--text">I agree with elb's <a><b>Terms & Conditions</b></a></p>
            </div>

            <!-- <button (click)="null" type="" class="action-button auth-button">Sign Up</button> -->

            <input type="submit" class="action-button auth-button" value="Sign Up" />

        </form>

        <div class="auth-text">Got an account?<a class="auth-link" aria-current="page" routerLink="login">Log in</a>
        </div>

        <!-- <div class="">Got an account?<a routerLink="/login" routerLinkActive #rla="routerLinkActive" class="">Log in -->
        <!-- {{rla.isActive ? '(opened)' :''}}</a></div> -->
        <!-- [routerLinkActiveOptions]="{exact: true} -->
    </section>
</div>