<div class="dashboard">
    <h1>Dashboard</h1>
    <nav class="nav">
        <ul>
            <!-- Dashboard Route Links -->
            <li><a routerLink="/dashboard/home">Home</a></li>
            <li><a routerLink="/dashboard/student">Student</a></li>
            <li><a routerLink="/dashboard/teacher">Teacher</a></li>
            <li><a routerLink="/dashboard/logbook">Logbook</a></li>
        </ul>
    </nav>

    <div class="dashboard-layout">
        <!-- In here contains our outlet for every component that'll be routed to by the links from above -->
    </div>
</div>
