<div class="auth">

    <section class="auth__header">
        <h2 class="auth__header--text">Login</h2>
        <p class="auth__header--info-text">Enter your credentials to continue</p>
    </section>

    <section class="form-layout">
        <form class="auth__form">

            <div class="input-display">
                <!-- Email -->
                <label class="form-input-label auth__form--label" for="email">Email</label>
                <input id="email" class="form-input auth__form--input" type="text" formControlName="email"
                    placeholder="Enter your email" />
            </div>

            <div class="input-display">
                <!-- Password -->
                <label class="form-input-label auth__form--label" for="password">Password</label>
                <input id="password" class="form-input auth__form--input" type="text" formControlName="password"
                    placeholder="Enter your password" />
            </div>

            <a class="auth-link mt-2 mb-2 fs-14">Forgot Password?</a>

            <input type="submit" class="action-button auth-button" value="Log In">
        </form>

        <div class="auth-text">Don't have an account?<a routerLink="/" class="auth-link">Sign Up</a></div>
    </section>
</div>