<div class="auth">
    <section class="auth__header">
        <h2>Forgot Password?</h2>
        <p>Don't worry, you're safe. We'll send a password reset link to your registered email</p>
    </section>

    <section class="auth__form">
        <form class="">
            <label class="" for="email">
                Email
                <input id="email" class="" type="text" placeholder="Enter your email">
            </label>

            <button type="submit" class="">Submit</button>
        </form>

        <div class="">
            Remember password<a class="">Login</a>
        </div>
    </section>
</div>