// Main Layout of the Project's Pages
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper {
    flex-grow: 1;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

    &--column {
        flex-direction: column;
    }
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: flex;
    // @include
}

.media-container {
    @include respond(phone) {
        // Display phone size
    }
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.auth__layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.form-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
}
