<div class="auth">
    <section class="auth__header">
        <h2 class="auth__header--text">Create new password</h2>
        <p class="auth__header--info-text">Enter a strong, unforgettable password</p>
    </section>

    <section class="form-layout">

        <form class="auth__form">

            <div class="input-display">
                <!-- New Password -->
                <label class="form-input-label auth__form--label" for="password">New Password</label>
                <input id="password" class="form-input auth__form--input" type="text" formControlName="password"
                    placeholder="Enter Password" />
            </div>

            <div class="input-display">
                <!-- Confirm Password -->
                <label class="form-input-label auth__form--label" for="confirm-password">Confirm New Password</label>
                <input id="confirm-password" class="form-input auth__form--input" type="text"
                    formControlName="confirm-password" placeholder="Enter Password" />
            </div>

            <input type="submit" class="action-button auth-button" value="Save" />

        </form>

        <div class="auth-text">
            <!-- add routes for auth links -->
            <!-- go back link should navigate to previous page history -->
            Changed your mind?<a class="auth-link">Go back</a>
        </div>

    </section>
</div>