<div class="auth">
    <section class="auth__header">
        <h2 class="auth__header--text">Create new password</h2>

        <p class="auth__header--info-text">Enter a strong, unforgettable password</p>
    </section>

    <form class="auth__form">

        <div class="input-display">
            <label for="password" class="auth__form--label">New Password</label>
            <input class="auth__form--input" type="text" id="password">
            <img [src]="" alt="eye-icon" />
        </div>

        <div class="input-display">
            <label for="confirm-new-password" class="auth__form--label">Confirm New Password</label>
            <input class="auth__form--input" type="text" id="confirm-new-password">
            <img [src]="" alt="eye-icon" />
        </div>

        <input type="submit" value="Save" class="form-button auth-button" />

    </form>
</div>
